body {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(FondoLogin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    margin: 0;
    text-align: center;
    background-color: blue;
    box-sizing: border-box;
}

.login-box {
    background-color: rgb(83, 124, 119,0.8);
    margin: 0; 
    border: 0;
    flex-direction: column;
    margin-left:20%;
    margin-right:20%;
}

.login-box h2 {
    border: 1px solid black;
    color:white;
    text-align: center;
    margin:0 5em;
}
