@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');


*,
*:before,
*:after {
	box-sizing: border-box;
}



body{
	margin: 0;
	background-image: url(FondoLogin.jpg);
	
	
	line-height: 1.5;
	background-attachment: fixed;
	background-size: cover;

}

.contenedor{
	max-width: 80%;
	min-height: 80%;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 100px;
	margin-bottom: 100px;
	background: white;
	border-radius: 3%;
	
}

header .encabezado {
	display: flex;
	justify-content: space-between; /* Añadido para distribuir el espacio entre los elementos */
	align-items: center;
	background-color: orange;
	padding: 10px; /* Añadido para mejorar el aspecto visual */
  }
  
  header .encabezado a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: white;
  }


  .perfilImagen,.casaImagen, .areaPersonalImagen,
  .pedirImagen {
	max-width: 100px;
	margin-right: 5px;
  }

  
  .usuario {
	margin: 0;
	margin-left: auto;
  }
  


img {
	max-width: 100%;
	display: block;
}

a {
	color: inherit;
	font-weight: bold;
}

input,
button,
textarea,
select {
	font: inherit;
}

button {
	border: 1px solid;
	background-color: transparent;
}


body {
	font-family: "DM Sans", sans-serif;
}

.responsive-container {
	max-width: 1080px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}


.header-content {
	display: flex;
	width: 100%;
	max-width: 2000px;
	padding-left: 1.25rem; 
	padding-right: 1.25rem;
	align-items: center;
	justify-content: space-between;
}

.header-navigation {
	display: flex;
	align-items: center;
	a {
		margin-left: 1.5rem;
		text-decoration: none;
		font-size: 1rem;
	}
}

.link-button {
	display: flex;
	align-items: center;
	background-color: #000;
	border-radius: 0.375rem;
	padding: 0.5em 1.25em;
	color: orange;
	i {
		font-size: 1.25rem;
		margin-left: 0.5rem;
	}
}

.logo {
	font-size: 1.25rem;
	font-weight: 700;
}

main {
	padding-top: 2rem;
	padding-bottom: 6rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.grid-column {
	display: flex;
	flex-direction: column;
	& > * + * {
		margin-top: 2rem;
	}
}

.product {
	border-radius: 0.25rem;
	text-decoration: none;
	font-weight: 400;	
	transition: .15s ease;
	overflow: hidden;
	&:hover, &:focus {
		outline: none;
		box-shadow: 0 0 0 0.25rem orange;
		.product-content {
			border-color: transparent;
		}
	}
}

.product-image {
	border-radius: 0.25rem 0.25rem 0 0;
	overflow: hidden;
}

.product-content {
	padding: 1rem;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	border-radius: 0 0 0.25rem 0.25rem;
	display: block;
	align-items: center;
	justify-content: space-between;
	transition: .15s ease;
	background-color: #FFF;
}


.header_Contenedor{
	display: flex;
    justify-content: space-between; 
}

h1{
	color: orange;
}

.volver{
	width: 15%;
	height: 15%;
}

.carrito{
	width: 15%;
	height: 15%;
}

.header_contenedor_fila2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
	background-color: orange;
    padding: 10px;
    margin: 10px;
}

.nombre-destacado {
     /* Fondo blanco entre las palabras */
    padding: 10px; /* Ajusta el espaciado interno según tus preferencias */
    margin: 0 5px; /* Margen entre las palabras */
}


.product-action {
	color: #000;
	font-size: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: .15s ease;
	&:hover {
		background-color: orange;
	}
}


.product-title{
	margin: 0px;
	padding: auto;
}


.product-price {
	margin: 0px;
	padding: auto;

}

.product-add label {
    margin-right: 5px;
}

.add-to-cart-btn {
    background-color: orange; /* Color verde para el botón "Añadir" */
    color: white;
    border-radius:10%;

    cursor: pointer;

}

@media all and (max-width: 600px) {
	.grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 1.5rem;
	}

	.grid-column {
		& > * + * {
			margin-top: 1.5rem;
		}
	}
}
